#menu
{
	background-color: #6F61AB;
	margin: 0;
	width: 90em;
	height: 3em;

	
	border-width: 2px;
	border-color: #000;

	
}
a.s
{
	color: #FFFFFF;
	 
	    


}

#th{

	margin-left: 10px;
	font-style: italic;
	font-weight: bold; 
	}